h2{

	font-size: 20px;
}

.select{

	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 10%;

}

.menu_title{

	font-family: Nobile;
  color: white;
	font-size: 35px;
	font-weight: bolder;
}

