<h2> Gestión de actividades </h2>

<td><%= link_to 'nueva actividad', new_schedule_path %></td>
<br>
<td><%= link_to 'ver actividades', activities_path %></td>
<br>
<td><%= link_to 'ver horarios', schedules_path %></td>