<h2> Gestión </h2>

<td><%= link_to 'gestión de asociados',  select_associate_management_path %></td>
<br>
<td><%= link_to 'gestión de actividades', select_activity_management_path %></td>

<h2> Asistencias </h2>

<td><%= link_to 'nueva asistencia',  new_attendance_path %></td>
<br>
<td><%= link_to 'ver asistencias',  attendances_path %></td>