
<head> 
 <%= stylesheet_link_tag "forms" %>
</head>


<div class="form_title"> <h1>Crear actividad</h1></div>

<%= render 'form', schedule: @schedule %>

<%= link_to 'Atrás', select_activity_management_path,  class: 'button'  %>

