<head> 
	<%= stylesheet_link_tag "buttons" %>
</head>

<div class="form_title"><h1>Nueva Asistencia</h1></div>

<p id="notice"><%= notice %></p>
<%= render 'form', attendance: @attendance %>

<td><%= link_to 'Atrás',  select_index_path, class: 'button' %></td>
